@import '../../style.scss';

.long-input-casting {
    width: 100%;
    max-width: 700px;
    min-width: 700px;
    max-height: 130px;
    min-height: 130px;
    border: 1px solid $darkGrey;
    text-align: center;
    border-radius: 56px;
    padding-top: 20px;
    font-size: 25px;
    outline: none;
  }
  
  @media (max-width: 1900px) {
    .long-input-casting {
      min-width: 600px;
    }
  }
  @media (max-width: 1600px) {
    .long-input-casting {
      min-width: 500px;
      max-width: 500px;
    }
  }
  
  @media (max-width: 1440px) {
    .long-input-casting {
      max-height: 70px;
      min-height: 70px;
      font-size: 14px;
      border-radius: 30px;
    }
  }
  
  @media (max-width: 1200px) {
    .long-input-casting {
      min-width: 350px;
      max-width: 350px;
      min-height: 60px;
      max-height: 60px;
    }
  }
  
  @media (max-width: 1000px) {
    .long-input-casting {
      min-width: 300px;
      max-width: 300px;
      min-height: 55px;
      max-height: 55px;
      border-radius: 20px;
    }
  }
  
  @media (max-width: 800px) {
    .long-input-casting {
      max-width: 80%;
      min-width: 80%;
    }
  }
  @media (max-width: 500px) {
    .long-input-casting {
      max-width: 100%;
      min-width: 100%;
    }
  }
  