@import '../common.scss';

.casting_form-wrapper {
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 24px;
    @media (max-width: 800px) {
      flex-direction: column;
  }
}

.casting_terms {
  display: flex;
  align-items: center;
}

.casting_terms-modal-button {
  color: $blue;
  font-weight: 400;
  margin-left: 30px;
  text-decoration: underline;
  cursor: pointer;
}





