@import '../common.scss';

.textarea {
  resize: none;
  width: 100%;
  max-width: 900px;
  height: 250px;
  border: 1px solid $darkGrey;
  border-radius: 56px;
  padding: 20px 10% 10px 10%;
  font-size: 25px;
  outline: none;
  color: $darkGrey;
}

@media (max-width: 1440px) {
  .textarea {
    height: 193px;
    font-size: 16px;
    border-radius: 30px;
  }
}

@media (max-width: 1200px) {
  .textarea {
    height: 163px;
  }
}

@media (max-width: 1000px) {
  .textarea {
    height: 148px;
    border-radius: 20px;
  }
}

@media (max-width: 800px) {
  .textarea {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .textarea {
    width: 80%;
  }
}
