@import '../common.scss';

.long-input {
  outline: none;
  border: 1px solid $darkGrey;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 111px;
  width: 80%;
  max-width: 900px;
  height: 78px;
  padding: 0 10% 0 10%;
  color: $darkGrey;

  @media (max-width: 1440px) {
    height: 58px;
    font-size: 16px;
  }

  @media (max-width: 1200px) {
    height: 48px;
  }

  @media (max-width: 1000px) {
    height: 43px;
  }

  @media (max-width: 800px) {
    width: 60%;
    height: 50px;
    min-height: 0;
  }

  @media (max-width: 500px) {
    width: 80%;
  }
}