@import '../../../UI/style.scss';

.video-wrapper {
  position: relative;
  width: 1250px;
  height: 710px;
  margin: 40px auto;
  border-radius: 60px;
  box-shadow: $boxShadow;
  outline: none;

  @media (max-width: 1810px) {
    width: 1000px;
    height: 565px;
  }

  @media (max-width: 1440px) {
    width: 800px;
    height: 450px;
  }

  @media (max-width: 1200px) {
    width: 700px;
    height: 395px;
  }

  @media (max-width: 1000px) {
    width: 560px;
    height: 320px;
  }

  @media (max-width: 630px) {
    width: 100%;
    height: 320px;
    border-radius: 20px;
  }

  @media (max-width: 550px) {
    height: 250px;
  }

  @media (max-width: 450px) {
    height: 220px;
  }

  @media (max-width: 400px) {
    height: 200px;
  }

  .video {
    width: 100%;
    box-shadow: $boxShadow;

    &:hover {
      .vjs-control-bar {
        opacity: 1;
      }
    }
  }

  .vjs-tech {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    outline: none;

    @media (max-width: 630px) {
      border-radius: 20px;
    }
  }

  .vjs-big-play-button {
    display: none;
  }

  .vjs-loading-spinner {
    display: none;
  }

  .vjs-modal-dialog-description {
    display: none;
  }

  .vjs-modal-dialog-content {
    display: none;
  }

  .vjs-mouse-display {
    display: none;
  }

  .vjs-control-text {
    display: none;
  }

  .vjs-remaining-time {
    display: none;
  }

  .vjs-live-control {
    display: none;
  }

  .vjs-seek-to-live-control {
    display: none;
  }

  .vjs-button {
    display: none;
  }

  // CONTROLS

  .vjs-slider-bar {
    .vjs-time-tooltip {
      background-color: #e53935;
      border-radius: 10px;
      font-size: 3px;
      color: #e53935;
      transition: all ease-in .1s;

      &:hover {
        font-size: 10px;
        border-radius: 0;
      }
    }
  }

  .vjs-current-time-display {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 130px;
    font-size: 30px;
    font-weight: 400;

    @media (max-width: 1440px) {
      left: 100px;
      font-size: 20px;
      padding-bottom: 3px;
    }

    @media (max-width: 1000px) {
      left: 80px;
      font-size: 18px;
      padding-bottom: 0;
      margin-bottom: -2px;
    }
  }

  .vjs-time-control {
    div {
      color: white;
      position: absolute;
      bottom: 20px;
      left: 190px;
      font-size: 30px;
      font-weight: 400;

      @media (max-width: 1440px) {
        font-size: 20px;
        left: 145px;
        padding-bottom: 3px;
      }

      @media (max-width: 1000px) {
        font-size: 18px;
        left: 120px;
        padding-bottom: 0;
        margin-bottom: -2px;
      }
    }
  }



  .vjs-duration-display {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 210px;
    font-size: 30px;
    font-weight: 400;

    @media (max-width: 1440px) {
      font-size: 20px;
      left: 160px;
      padding-bottom: 3px;
    }

    @media (max-width: 1000px) {
      font-size: 18px;
      left: 130px;
      padding-bottom: 0;
      margin-bottom: -2px;
    }
  }

  @media (max-width: 1440px) {
    .vjs-current-time-display {
      bottom: 15px;
    }

    .vjs-time-control {
      div {
        bottom: 15px;
      }
    }

    .vjs-duration-display {
      bottom: 15px;
    }
  }



  .vjs-load-progress {
    // position: absolute;
    // bottom: 41px;
    // left: 0;
    // width: 100%;
    // height: 6px;
    // background-color: grey;
    display: none;
  }


  .vjs-progress-holder {
    cursor: pointer;
    outline: none;
    background-color: gainsboro;
    transition: all ease-in .1s;
  }

  // BUTTONS

  .vjs-play-control {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 8px;
    left: 35px;
    z-index: 2;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .vjs-play-control.vjs-control.vjs-button {

    &::before {
      cursor: pointer;
      position: absolute;
      font-family: 'Font Awesome\ 5 Free';
      content: "\f144";
      font-size: 50px;
      color: white;
      left: 0px;
      bottom: 20px;
      width: 40px;
      height: 40px;

      @media (max-width: 1440px) {
        bottom: 2px;
        font-size: 35px;
      }

      @media (max-width: 1000px) {
        right: 50px;
        width: 25px;
        height: 25px;
        font-size: 25px;
        bottom: 5px;
      }
    }
  }

  .vjs-play-control.vjs-control.vjs-button.vjs-paused {

    &::before {
      cursor: pointer;
      position: absolute;
      font-family: 'Font Awesome\ 5 Free';
      content: "\f144";
      font-size: 50px;
      color: white;
      left: 0px;
      bottom: 20px;
      width: 40px;
      height: 40px;

      @media (max-width: 1440px) {
        bottom: 2px;
        font-size: 35px;
      }

      @media (max-width: 1000px) {
        right: 50px;
        width: 25px;
        height: 25px;
        font-size: 25px;
        bottom: 5px;
      }
    }
  }

  .vjs-play-control.vjs-control.vjs-button.vjs-playing {

    &::before {
      position: absolute;
      font-family: 'Font Awesome\ 5 Free';
      content: "\f28b";
      font-size: 50px;
      color: white;
      left: 0px;
      bottom: 20px;
      width: 40px;
      height: 40px;

      @media (max-width: 1440px) {
        bottom: 2px;
        font-size: 35px;
      }

      @media (max-width: 1000px) {
        right: 50px;
        width: 25px;
        height: 25px;
        font-size: 25px;
        bottom: 5px;
      }
    }
  }

  .vjs-mute-control {
    display: block;
    position: absolute;
    right: 100px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    outline: none;
    background-color: transparent;
    border: none;

    @media (max-width: 1440px) {
      right: 50px;
      width: 30px;
      height: 30px;
    }
  }

  .vjs-mute-control.vjs-control.vjs-button.vjs-vol-0 {
    &::after {
      cursor: pointer;
      position: absolute;
      font-family: 'Font Awesome\ 5 Free';
      content: "\f028";
      font-weight: 900;
      font-size: 45px;
      color: white;
      left: 0px;
      bottom: 5px;
      width: 40px;
      height: 40px;

      @media (max-width: 1440px) {
        right: 50px;
        width: 30px;
        height: 30px;
        font-size: 30px;
        bottom: 0;
      }

      @media (max-width: 1000px) {
        right: 50px;
        width: 25px;
        height: 25px;
        font-size: 25px;
        bottom: -7px;
      }
    }
  }

  .vjs-mute-control.vjs-control.vjs-button.vjs-vol-3 {
    &::after {
      cursor: pointer;
      position: absolute;
      font-family: 'Font Awesome\ 5 Free';
      content: "\f6a9";
      font-weight: 900;
      font-size: 45px;
      color: white;
      left: 0px;
      bottom: 5px;
      width: 40px;
      height: 40px;

      @media (max-width: 1440px) {
        right: 50px;
        width: 30px;
        height: 30px;
        font-size: 30px;
        bottom: 0;
      }

      @media (max-width: 1000px) {
        right: 50px;
        width: 25px;
        height: 25px;
        font-size: 25px;
        bottom: -7px;
      }
    }
  }

  .vjs-control-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    outline: none;
    background-color: black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-bottom: 45px;
    transition: all ease-in .1s;
    opacity: 0;

    @media (max-width: 1000px) {
      padding-bottom: 30px;
    }

    @media (max-width: 630px) {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

  .controls-will-active {
    opacity: 1;
    background-color: rgba(0, 0, 0, .7);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .controls-will-open {
    opacity: 1 !important;
    border-radius: 0% !important;
  }

  .controls-open {
    width: 100% !important;
    left: 0 !important;
    border-bottom-right-radius: 60px !important;
    border-bottom-left-radius: 60px !important;
  }

  .controls {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 10%;
    flex-wrap: wrap;
    transition: all ease-in .2s;
    background-color: #212121;
    //border-bottom-right-radius: 60px;
    //border-bottom-left-radius: 60px;
    border-radius: 100%;

    .buttons {
      padding: 10px 20px;
      opacity: 0;
      transition: all ease-in .2s;

      .play-pause {
        background: none;
        border: 0;
        outline: 0;
        cursor: pointer;

        &:before {
          content: '\f144';
          font-family: 'Font Awesome 5 Free';
          width: 30px;
          height: 30px;
          display: inline-block;
          font-size: 30px;
          color: #fff;
        }
      }

      .play-pause.play:before {
        content: '\f144';
      }

      .play-pause.pause:before {
        content: '\f28b';
      }
    }

    .buttons-active {
      opacity: 1;
    }

    .orange-bar {
      position: absolute;
      height: 5px;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #D5D8E6;
      border-radius: 100%;
      cursor: pointer;
      transition: all ease-in .2s;

      .orange-juice {
        height: 5px;
        background: orangered;
        border-radius: 100%;
        transition: all ease-in .2s;
      }

      &:hover {
        height: 10px;
        border-radius: 0px;

        .orange-juice {
          height: 10px;
          border-radius: 0px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .video-wrapper {
    .video {
      border-radius: 20px;
    }
  }
}

@media (max-width: 900px) {}

@media (max-width: 650px) {}

// HLS

.video-hls_wrapper {
  width: 70%;
  margin: 0 auto;
}

.video-hls {
  box-shadow: $boxShadow;
  outline: none;
  border-radius: 40px;
}