@import '../../../UI/style.scss';

.video-wrapper {
  position: relative;
  width: 1250px;
  height: 710px;
  margin: 40px auto;
  border-radius: 60px;
  box-shadow: $boxShadow;
  outline: none;

  @media (max-width: 1810px) {
    width: 1000px;
    height: 565px;
  }

  @media (max-width: 1440px) {
    width: 800px;
    height: 450px;
  }

  @media (max-width: 1200px) {
    width: 700px;
    height: 395px;
  }

  @media (max-width: 1000px) {
    width: 560px;
    height: 320px;
  }

  @media (max-width: 630px) {
    width: 100%;
    height: 320px;
    border-radius: 20px;
  }

  @media (max-width: 550px) {
    height: 250px;
  }

  @media (max-width: 480px) {
    height: 240px;
  }

  @media (max-width: 450px) {
    height: 220px;
  }

  @media (max-width: 415px) {
    height: 210px;
  }

  @media (max-width: 400px) {
    height: 200px;
  }

  @media (max-width: 376px) {
    height: 190px;
  }

  @media (max-width: 360px) {
    height: 185px;
  }

  .video {
    width: 100%;
    box-shadow: $boxShadow;

    &:hover {
      .vjs-control-bar {
        opacity: 1;
      }
    }
  }

  .vjs-tech {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    outline: none;

    @media (max-width: 630px) {
      border-radius: 20px;
    }
  }

  .vjs-big-play-button {
    display: none;
  }

  .vjs-loading-spinner {
    display: none;
  }

  .vjs-modal-dialog-description {
    display: none;
  }

  .vjs-modal-dialog-content {
    display: none;
  }

  .vjs-mouse-display {
    display: none;
  }

  .vjs-control-text {
    display: none;
  }

  .vjs-remaining-time {
    display: none;
  }

  .vjs-live-control {
    display: none;
  }

  .vjs-seek-to-live-control {
    display: none;
  }

  .vjs-button {
    display: none;
  }

  // CONTROLS

  .vjs-slider-bar {
    .vjs-time-tooltip {
      background-color: #e53935;
      border-radius: 10px;
      font-size: 5px;
      color: #e53935;
      transition: all ease-in .1s;

      &:hover {
          font-size: 10px;
          border-radius: 0;
      }
    }
  }

  .vjs-current-time-display {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 130px;
    font-size: 30px;
    font-weight: 400;

    @media (max-width: 1440px) {
      left: 100px;
      font-size: 20px;
      padding-bottom: 3px;
    }

    @media (max-width: 1000px) {
      left: 80px;
      font-size: 18px;
      padding-bottom: 0;
      margin-bottom: -2px;
    }
  }

  .vjs-time-control {
    div {
      color: white;
      position: absolute;
      bottom: 20px;
      left: 190px;
      font-size: 30px;
      font-weight: 400;

      @media (max-width: 1440px) {
        font-size: 20px;
        left: 145px;
        padding-bottom: 3px;
      }

      @media (max-width: 1000px) {
        font-size: 18px;
        left: 120px;
        padding-bottom: 0;
        margin-bottom: -2px;
      }
    }
  }



  .vjs-duration-display {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 210px;
    font-size: 30px;
    font-weight: 400;

    @media (max-width: 1440px) {
      font-size: 20px;
      left: 160px;
      padding-bottom: 3px;
    }

    @media (max-width: 1000px) {
      font-size: 18px;
      left: 130px;
      padding-bottom: 0;
      margin-bottom: -2px;
    }
  }

  @media (max-width: 1440px) {
    .vjs-current-time-display {
      bottom: 15px;
    }

    .vjs-time-control {
      div {
        bottom: 15px;
      }
    }

    .vjs-duration-display {
      bottom: 15px;
    }
  }



  .vjs-load-progress {
    // position: absolute;
    // bottom: 41px;
    // left: 0;
    // width: 100%;
    // height: 6px;
    // background-color: grey;
    display: none;
  }


  .vjs-progress-holder {
    cursor: pointer;
    outline: none;
    background-color: gainsboro;
    transition: all ease-in .1s;
  }

  // BUTTONS

  .vjs-play-control {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 8px;
    left: 35px;
    z-index: 2;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      background-color: transparent;
      left: -35px;
      bottom: 70px;
      width: 1250px;
      height: 650px;

      @media (max-width: 1800px) {
        height: 500px;
        width: 1000px;
      }
      @media (max-width: 1440px) {
        height: 400px;
        width: 800px;
      }
      @media (max-width: 1200px) {
        height: 330px;
        width: 700px;
        bottom: 55px;
      }
      @media (max-width: 1000px) {
        height: 270px;
        width: 560px;
        bottom: 45px;
      }
      @media (max-width: 630px) {
        height: 260px;
        width: 560px;
        max-width: 1800%;
        bottom: 40px;
      }
      @media (max-width: 580px) {
        height: 250px;
        width: 560px;
        max-width: 1700%;
        bottom: 40px;
      }
      @media (max-width: 550px) {
        height: 200px;
        width: 560px;
        max-width: 1600%;
        bottom: 37px;
      }
      @media (max-width: 530px) {
        width: 470px;
        max-width: 470px;
      }
      @media (max-width: 500px) {
        width: 440px;
        max-width: 440px;
      }
      @media (max-width: 480px) {
        width: 420px;
        max-width: 420px;
      }
      @media (max-width: 460px) {
        width: 400px;
        max-width: 400px;
      }
      @media (max-width: 450px) {
        height: 165px;
        width: 390px;
        max-width: 390px;
      }
      @media (max-width: 440px) {
        width: 380px;
        max-width: 380px;
      }
      @media (max-width: 420px) {
        width: 360px;
        max-width: 360px;
      }
      @media (max-width: 400px) {
        height: 145px;
        width: 350px;
        max-width: 350px;
      }
      @media (max-width: 380px) {
        width: 330px;
        max-width: 330px;
      }
      @media (max-width: 360px) {
        width: 310px;
        max-width: 310px;
      }
      @media (max-width: 330px) {
        width: 280px;
        max-width: 280px;
      }
      @media (max-width: 300px) {
        width: 260px;
        max-width: 260px;
      }
    }
  }

  .vjs-play-control.vjs-control.vjs-button {

    &::before {
      cursor: pointer;
      position: absolute;
      font-family: 'Font Awesome\ 5 Free';
      content: "\f144";
      font-size: 50px;
      color: white;
      left: 0px;
      bottom: 20px;
      width: 40px;
      height: 40px;

      @media (max-width: 1440px) {
        bottom: 2px;
        font-size: 35px;
      }

      @media (max-width: 1000px) {
        right: 50px;
        width: 25px;
        height: 25px;
        font-size: 25px;
        bottom: 5px;
      }
    }
  }

  .vjs-play-control.vjs-control.vjs-button.vjs-paused {

    &::before {
      cursor: pointer;
      position: absolute;
      font-family: 'Font Awesome\ 5 Free';
      content: "\f144";
      font-size: 50px;
      color: white;
      left: 0px;
      bottom: 20px;
      width: 40px;
      height: 40px;

      @media (max-width: 1440px) {
        bottom: 2px;
        font-size: 35px;
      }

      @media (max-width: 1000px) {
        right: 50px;
        width: 25px;
        height: 25px;
        font-size: 25px;
        bottom: 5px;
      }
    }
  }

  .vjs-play-control.vjs-control.vjs-button.vjs-playing {

    &::before {
      position: absolute;
      font-family: 'Font Awesome\ 5 Free';
      content: "\f28b";
      font-size: 50px;
      color: white;
      left: 0px;
      bottom: 20px;
      width: 40px;
      height: 40px;

      @media (max-width: 1440px) {
        bottom: 2px;
        font-size: 35px;
      }

      @media (max-width: 1000px) {
        right: 50px;
        width: 25px;
        height: 25px;
        font-size: 25px;
        bottom: 5px;
      }
    }
  }

  .vjs-mute-control {
    display: block;
    position: absolute;
    right: 100px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    outline: none;
    background-color: transparent;
    border: none;

    @media (max-width: 1440px) {
      right: 50px;
      width: 30px;
      height: 30px;
    }
  }

  .vjs-mute-control.vjs-control.vjs-button.vjs-vol-0 {
    &::after {
      cursor: pointer;
      position: absolute;
      font-family: 'Font Awesome\ 5 Free';
      content: "\f6a9";
      font-weight: 900;
      font-size: 45px;
      color: white;
      left: 0px;
      bottom: 5px;
      width: 40px;
      height: 40px;

      @media (max-width: 1440px) {
        right: 50px;
        width: 30px;
        height: 30px;
        font-size: 30px;
        bottom: 0;
      }

      @media (max-width: 1000px) {
        right: 50px;
        width: 25px;
        height: 25px;
        font-size: 25px;
        bottom: -7px;
      }
    }
  }

  .vjs-mute-control.vjs-control.vjs-button.vjs-vol-3 {
    &::after {
      cursor: pointer;
      position: absolute;
      font-family: 'Font Awesome\ 5 Free';
      content: "\f028";
      font-weight: 900;
      font-size: 45px;
      color: white;
      left: 0px;
      bottom: 5px;
      width: 40px;
      height: 40px;

      @media (max-width: 1440px) {
        right: 50px;
        width: 30px;
        height: 30px;
        font-size: 30px;
        bottom: 0;
      }

      @media (max-width: 1000px) {
        right: 50px;
        width: 25px;
        height: 25px;
        font-size: 25px;
        bottom: -7px;
      }
    }
  }

  .vjs-control-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    outline: none;
    background-color: black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-bottom: 45px;
    transition: all ease-in .1s;
    opacity: 0;

    @media (max-width: 1000px) {
      padding-bottom: 30px;
    }

    @media (max-width: 630px) {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}

.video-wrapper {
    .video {
        border-radius: 50px;
        outline: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @media (max-width: 900px) {
            border-radius: 20px;
        }
    }
}