@import '../../../UI/style.scss';

.video-wrapper {
  position: relative;
  width: 550px;
  height: 310px;
  margin: 40px auto;
  border-radius: 60px;
  box-shadow: $boxShadow;
  outline: none;

  .video {
    width: 100%;
    height: 310px;
    border-radius: 60px;
  }
  .controls-will-active {
    opacity: 1;
    background-color: rgba(0, 0, 0, .7);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .controls-will-open {
    opacity: 1 !important;
    border-radius: 0% !important;
  }
  .controls-open {
    width: 100% !important;
    left: 0 !important;
    border-bottom-right-radius: 60px !important;
    border-bottom-left-radius: 60px !important;
  }

  .controls {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 10%;
    flex-wrap: wrap;
    transition: all ease-in .2s;
    background-color: #212121;
    //border-bottom-right-radius: 60px;
    //border-bottom-left-radius: 60px;
    border-radius: 100%;
    .buttons {
      padding: 10px 20px;
      opacity: 0;
      transition: all ease-in .2s;
      .play-pause {
        background: none;
        border: 0;
        outline: 0;
        cursor: pointer;
        &:before {
          content: '\f144';
          font-family: 'Font Awesome 5 Free';
          width: 30px;
          height: 30px;
          display: inline-block;
          font-size: 30px;
          color: #fff;
        }
      }
      .play-pause.play:before {
        content: '\f144';
      }
      .play-pause.pause:before {
        content: '\f28b';
      }
    }
    .buttons-active {
      opacity: 1;
    }
    .orange-bar {
      position: absolute;
      height: 5px;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #D5D8E6;
      border-radius: 100%;
      cursor: pointer;
      transition: all ease-in .2s;
      .orange-juice {
        height: 5px;
        background: orangered;
        border-radius: 100%;
        transition: all ease-in .2s;
      }
      &:hover {
        height: 10px;
        border-radius: 0px;
        .orange-juice {
          height: 10px;
          border-radius: 0px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .video-wrapper {
    .video {
      border-radius: 20px;
    }
  }
}

@media (max-width: 900px) {

}

@media (max-width: 650px) {

}

// HLS

.video-hls_wrapper {
  width: 70%;
  margin: 0 auto;
}

.video-hls {
  box-shadow: $boxShadow;
  outline: none;
  border-radius: 40px;
}