$yellow: #ffeb3b;
$grey: #D5D8E6;
$darkGrey: #6E6C6F;
$lightGrey: rgba(193, 193, 193, .32);
$black: #212121;
$blue: #384786;
$lightBlue: #6974a2;
$lightBlue: rgba(110, 108, 111, 0.43);
$boxShadow: 0px 8.57955px 56.25px 19px #EBEBEB;
$textColor: #999999;
