@import '../common.scss';

.input {
  outline: none;
  border: 1px solid $darkGrey;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 111px;
  padding: 0 10%;
  width: 78%;
  max-width: 500px;
  min-width: 250px;
  height: 80px;
  color: $darkGrey;

  &:focus {
    border: 1px solid $blue;
  }
}

.input-error {
  color: $warning;
}

@media (max-width: 1440px) {
  .input {
    height: 60px;
    font-size: 16px;
    min-width: 100px;
  }
}

@media (max-width: 1200px) {
  .input {
    height: 50px;
  }
}

@media (max-width: 1000px) {
  .input {
    height: 45px;
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .input {
    width: 60%;
    height: 50px;
  }
}

@media (max-width: 500px) {
  .input {
    width: 80%;
  }
}