@import '../../UI/style.scss';

.registered_count {
  font-size: 70px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  color: $blue;
  font-family: 'Roboto', sans-serif;
  @media (max-width: 400px) {
    font-size: 50px;
  }
  @media (max-width: 300px) {
    font-size: 40px;
  }
}
.registered_title {
  font-size: 30px;
  color: $darkGrey;
  @media (max-width: 400px) {
    font-size: 22px;
  }
  @media (max-width: 300px) {
    font-size: 18px;
  }
}