@import '../../UI/style.scss';

.contacts-form-container {
  margin-bottom: 50px;
}

.contacts-container {
  text-align: center;
}

.contacts-title {
  font-size: 35px;
  font-weight: 400;
}

.contacts__icon-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;

  svg {
    margin-right: 10px;
    cursor: pointer;
  }
}

.contacts-text-grey {
  color: $darkGrey;
}

.contacts-flex {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.contacts-col {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}


@media (max-width: 1440px) {
  .contacts__phone {
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  .contacts__phone {
    margin-top: 10px;
    width: 205px;
  }
}

@media (max-width: 1000px) {
  .contacts__phone {
    margin-top: 0px;
    width: 155px;
  }
}
@media (max-width: 800px) {
  .contacts-flex {
    flex-direction: column;
    .contacts-col {
      margin-right: 0;
      align-items: center;
    }
    .contacts__c-2 {
      margin-top: 10px;
      align-items: center;
    }
    .contacts__phone {
      width: 70%;
    }
  }
}